@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0d87e1;
  --font-inter: Inter, sans-serif;
  --font-lato: Lato, sans-serif;
  --font-montserrat: Montserrat, sans-serif;
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

.linear_gradient {
  background: linear-gradient(
    267deg,
    #fff -9.43%,
    #040218 -9.42%,
    #fff 4.63%,
    #d2e4f2 127.55%
  );
}

.bg_image {
  background:
    linear-gradient(
      181deg,
      rgba(255, 255, 255, 0) 57.92%,
      #fff 97.09%,
      rgba(255, 255, 255, 0) 127.09%
    ),
    url("/images/background.png"),
    lightgray 0% 0% / 261.2499952316284px 261.2499952316284px repeat;
}
.button {
  border-radius: 8px;
  background: linear-gradient(
    267deg,
    #0983df -9.43%,
    #040218 -9.42%,
    #0d87e1 4.63%,
    #0983df 127.55%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
